form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.checkbox:disabled {
  appearance: none; /* Remove default styling */
  width: 16px;
  height: 16px;
  background-color: green; /* Green background for disabled checkbox */
  border: 2px solid green; /* Green border */
  border-radius: 4px; /* Optional: add border radius for rounded corners */
  position: relative;
}

.checkbox:disabled:checked::before {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 5px;
}


label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
p{
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Optional: Add more styling as needed */
.App {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  text-align: center;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.btnb{
  background-color: transparent;
  border: transparent;
  color: #152259;
}



header{
  display: flex;
  justify-content: space-between;
  
  margin-top: 20px;
}
.split{
  margin-left: 283px;

}
.split section {
  text-align: center;
}

header div{
  display: flex;
  align-items: center;
}



.filter{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.notif{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notif div{
  width : 300px;
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
}